$base-font-family: 'Droid Serif', serif;
$base-font-size: 18px;

//colors
$primary-color: #2a2a2a; //very dark
$secondary-color: #ccc; //gray
$base-color: #fff; //white
$light-color: #f6f6f6; //light gray
$accent-color: #B52609; //blue


//screen widths
$smallScreen: 400px;
$mediumScreen: 768px;
$largeScreen: 992px;