.animated {
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;

	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode: both;

}

.fadeInDown {
	-moz-animation-name:fadeInDown;
	-o-animation-name:fadeInDown;
	-webkit-animation-name:fadeInDown;
	animation-name: fadeInDown;
}

.fadeIn {
	-moz-animation-name:fadeIn;
	-o-animation-name:fadeIn;
	-webkit-animation-name:fadeIn;
	animation-name: fadeIn;
}

.fadeInUp {
	-moz-animation-name:fadeInUp;
	-o-animation-name:fadeInUp;
	-webkit-animation-name:fadeInUp;
	animation-name: fadeInUp;
}




@keyframes fadeInDown {
	0% {
	    opacity: 0;
	    -webkit-transform:translateY(-20px);
	    -ms-transform:translateY(-20px);
	    -o-transform:translateY(-20px);
	    transform: translateY(-20px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform:translateY(0px);
	    -ms-transform:translateY(0px);
	    -o-transform:translateY(0px);
	    transform: translateY(0px);
	}
}

@keyframes fadeInUp {
	0% {
	    opacity: 0;
	    -webkit-transform:translateY(20px);
	    -ms-transform:translateY(20px);
	    -o-transform:translateY(20px);
	    transform: translateY(20px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform:translateY(0px);
	    -ms-transform:translateY(0px);
	    -o-transform:translateY(0px);
	    transform: translateY(0px);
	}
}

@keyframes fadeIn{
	0%{
		opacity:0;
	}

	100%{
		opacity:1;
	}

}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}